body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-safe-area {
  padding-top: env(safe-area-inset-top); /* iOS notch / status bar */
  background-color: var(--ion-color-primary); /* or your header bg */
  z-index: 10;
}

body {
  padding-bottom: env(safe-area-inset-bottom); /* optional for bottom navs/floating buttons */
}